### IMPORT NECESSARY PACKAGES

In [15]:
import pandas as pd
import numpy as np
import os
import glob
import shutil

### CREATE RELATIVE PATHS FOR VERIOUS DATASETS

In [85]:
DATASET = 'D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset'
PROCESSED_DATA_PATH = "D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\ProcessedData"

In [87]:
 if not os.path.isdir(PROCESSED_DATA_PATH):
    os.mkdir(PROCESSED_DATA_PATH)

In [18]:
FEATURE = os.path.join(DATASET, 'Category and Attribute Prediction Benchmark')
ANNOTATIONS = os.path.join(FEATURE, 'Anno')
IMGS = os.path.join(DATASET, 'img')
EVAL = os.path.join(FEATURE, 'Eval')

In [19]:
print(f'Annotations path: {ANNOTATIONS}')
print(f'IMGS path: {IMGS}')
print(f'Eval path: {EVAL}')

Annotations path: D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\Category and Attribute Prediction Benchmark\Anno
IMGS path: D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\img
Eval path: D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\Category and Attribute Prediction Benchmark\Eval

### READ AND EVALUATE BOUNDING BOXES OF IMAGES

In [20]:
img_bbox = os.path.join(ANNOTATIONS, 'list_bbox.txt')
print(img_bbox)
df_bbox = pd.read_csv(img_bbox, sep = '\s+', skiprows=1)
df_bbox.sort_values(by=['image_name'], inplace=True)
df_bbox.head()

D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\Category and Attribute Prediction Benchmark\Anno\list_bbox.txt

                                         image_name  x_1  y_1  x_2  y_2
32851  img/1981_Graphic_Ringer_Tee/img_00000001.jpg   40   63  167  246
32852  img/1981_Graphic_Ringer_Tee/img_00000002.jpg   51   76  140  183
32853  img/1981_Graphic_Ringer_Tee/img_00000003.jpg   25   68  147  200
32854  img/1981_Graphic_Ringer_Tee/img_00000004.jpg   47   91  185  285
32855  img/1981_Graphic_Ringer_Tee/img_00000005.jpg   84   67  218  252

In [21]:
 df_bbox.tail()

                                         image_name  x_1  y_1  x_2  y_2
159619  img/Zippered_Woven_Joggers/img_00000030.jpg   91   91  129  274
159620  img/Zippered_Woven_Joggers/img_00000031.jpg  167    3  256  258
159621  img/Zippered_Woven_Joggers/img_00000032.jpg   73    8  189  247
159622  img/Zippered_Woven_Joggers/img_00000033.jpg   46   92  173  263
159623  img/Zippered_Woven_Joggers/img_00000034.jpg  117   12  215  257

### READ AND EVALUATE BOUNDING BOXES OF IMAGES

In [22]:
img_bbox = os.path.join(ANNOTATIONS, 'list_bbox.txt')
print(img_bbox)
df_bbox = pd.read_csv(img_bbox, sep = '\s+', skiprows=1)
df_bbox.sort_values(by=['image_name'], inplace=True)
df_bbox.head()

D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\Category and Attribute Prediction Benchmark\Anno\list_bbox.txt

                                         image_name  x_1  y_1  x_2  y_2
32851  img/1981_Graphic_Ringer_Tee/img_00000001.jpg   40   63  167  246
32852  img/1981_Graphic_Ringer_Tee/img_00000002.jpg   51   76  140  183
32853  img/1981_Graphic_Ringer_Tee/img_00000003.jpg   25   68  147  200
32854  img/1981_Graphic_Ringer_Tee/img_00000004.jpg   47   91  185  285
32855  img/1981_Graphic_Ringer_Tee/img_00000005.jpg   84   67  218  252

In [23]:
df_bbox.tail()

                                         image_name  x_1  y_1  x_2  y_2
159619  img/Zippered_Woven_Joggers/img_00000030.jpg   91   91  129  274
159620  img/Zippered_Woven_Joggers/img_00000031.jpg  167    3  256  258
159621  img/Zippered_Woven_Joggers/img_00000032.jpg   73    8  189  247
159622  img/Zippered_Woven_Joggers/img_00000033.jpg   46   92  173  263
159623  img/Zippered_Woven_Joggers/img_00000034.jpg  117   12  215  257

### READ AND EVALUATE IMAGES AND ITS CATEGORIES

In [24]:
img_categories = os.path.join(ANNOTATIONS, 'list_category_img.txt')
print(img_categories)
df_img_cat = pd.read_csv(img_categories, sep = '\s+', skiprows=1)
df_img_cat = df_img_cat.sort_values(by=['image_name'])
df_img_cat.head()

D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\Category and Attribute Prediction Benchmark\Anno\list_category_img.txt

                                         image_name  category_label
32851  img/1981_Graphic_Ringer_Tee/img_00000001.jpg              18
32852  img/1981_Graphic_Ringer_Tee/img_00000002.jpg              18
32853  img/1981_Graphic_Ringer_Tee/img_00000003.jpg              18
32854  img/1981_Graphic_Ringer_Tee/img_00000004.jpg              18
32855  img/1981_Graphic_Ringer_Tee/img_00000005.jpg              18

In [25]:
df_img_cat.tail()

                                         image_name  category_label
159619  img/Zippered_Woven_Joggers/img_00000030.jpg              29
159620  img/Zippered_Woven_Joggers/img_00000031.jpg              29
159621  img/Zippered_Woven_Joggers/img_00000032.jpg              29
159622  img/Zippered_Woven_Joggers/img_00000033.jpg              29
159623  img/Zippered_Woven_Joggers/img_00000034.jpg              29

### ATTACH CATEGORY LABEL TO CORRESPONDING IMAGES

In [26]:
 df_augmented_1 = pd.merge(df_bbox, df_img_cat, on = 'image_name')

In [27]:
 df_augmented_1.head()

,image_name,x_1,y_1,x_2,y_2,category_label
0,img/1981_Graphic_Ringer_Tee/img_00000001.jpg,40,63,167,246,18
1,img/1981_Graphic_Ringer_Tee/img_00000002.jpg,51,76,140,183,18
2,img/1981_Graphic_Ringer_Tee/img_00000003.jpg,25,68,147,200,18
3,img/1981_Graphic_Ringer_Tee/img_00000004.jpg,47,91,185,285,18
4,img/1981_Graphic_Ringer_Tee/img_00000005.jpg,84,67,218,252,18

In [28]:
 df_augmented_1.tail()

,image_name,x_1,y_1,x_2,y_2,category_label
289217,img/Zippered_Woven_Joggers/img_00000030.jpg,91,91,129,274,29
289218,img/Zippered_Woven_Joggers/img_00000031.jpg,167,3,256,258,29
289219,img/Zippered_Woven_Joggers/img_00000032.jpg,73,8,189,247,29
289220,img/Zippered_Woven_Joggers/img_00000033.jpg,46,92,173,263,29
289221,img/Zippered_Woven_Joggers/img_00000034.jpg,117,12,215,257,29

### READ EVALUATION STATUS TAG OF GIVEN IMAGES

In [29]:
eval_partitions = os.path.join(EVAL,'list_eval_partition.txt')
df_eval_pats = pd.read_csv(eval_partitions, sep = '\s+', skiprows=1)
df_eval_pats.sort_values(by=['image_name'], inplace=True)

In [30]:
 df_eval_pats.head()

                                         image_name evaluation_status
32851  img/1981_Graphic_Ringer_Tee/img_00000001.jpg              test
32852  img/1981_Graphic_Ringer_Tee/img_00000002.jpg               val
32853  img/1981_Graphic_Ringer_Tee/img_00000003.jpg             train
32854  img/1981_Graphic_Ringer_Tee/img_00000004.jpg              test
32855  img/1981_Graphic_Ringer_Tee/img_00000005.jpg             train

In [31]:
 df_eval_pats.tail()

                                         image_name evaluation_status
159619  img/Zippered_Woven_Joggers/img_00000030.jpg             train
159620  img/Zippered_Woven_Joggers/img_00000031.jpg             train
159621  img/Zippered_Woven_Joggers/img_00000032.jpg             train
159622  img/Zippered_Woven_Joggers/img_00000033.jpg             train
159623  img/Zippered_Woven_Joggers/img_00000034.jpg             train

### ATTACH EVALUATION STATUS TAG TO CORRESPONDING IMAGES

In [32]:
df_augmented_2 = pd.merge(df_augmented_1, df_eval_pats, on = 'image_name')

In [33]:
 df_augmented_2.head()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
0,img/1981_Graphic_Ringer_Tee/img_00000001.jpg,40,63,167,246,18,test
1,img/1981_Graphic_Ringer_Tee/img_00000002.jpg,51,76,140,183,18,val
2,img/1981_Graphic_Ringer_Tee/img_00000003.jpg,25,68,147,200,18,train
3,img/1981_Graphic_Ringer_Tee/img_00000004.jpg,47,91,185,285,18,test
4,img/1981_Graphic_Ringer_Tee/img_00000005.jpg,84,67,218,252,18,train

In [34]:
df_augmented_2.tail()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
289217,img/Zippered_Woven_Joggers/img_00000030.jpg,91,91,129,274,29,train
289218,img/Zippered_Woven_Joggers/img_00000031.jpg,167,3,256,258,29,train
289219,img/Zippered_Woven_Joggers/img_00000032.jpg,73,8,189,247,29,train
289220,img/Zippered_Woven_Joggers/img_00000033.jpg,46,92,173,263,29,train
289221,img/Zippered_Woven_Joggers/img_00000034.jpg,117,12,215,257,29,train

### READ CATEGORY NAMES OF THE AVAILABLE CLOTHS

In [35]:
cloth_cat_pth = os.path.join(ANNOTATIONS, 'list_category_cloth.txt')
print(f'Cloths cat path:\n{cloth_cat_pth}')
df_cloth_cat = pd.read_csv(cloth_cat_pth, sep = '\s+', skiprows=1)
df_cloth_cat.head()

Cloths cat path:
D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset\Category and Attribute Prediction Benchmark\Anno\list_category_cloth.txt

  category_name  category_type
0        Anorak              1
1        Blazer              1
2        Blouse              1
3        Bomber              1
4   Button-Down              1

In [36]:
df_cloth_cat.shape

(50, 2)

In [37]:
 print(df_cloth_cat['category_type'].unique())

[1 2 3]

 So we can conclude that total categories are 50 of 3 different types. 
 
### Adding and adjusting category labels after observing other given data sets

In [38]:
df_tmp_cloth_cat = df_cloth_cat.copy()
df_tmp_cloth_cat['category_label'] = [cat_lbl + 1 for cat_lbl in df_tmp_cloth_cat.index.tolist()]
df_tmp_cloth_cat.head(10)

  category_name  category_type  category_label
0        Anorak              1               1
1        Blazer              1               2
2        Blouse              1               3
3        Bomber              1               4
4   Button-Down              1               5
5      Cardigan              1               6
6       Flannel              1               7
7        Halter              1               8
8        Henley              1               9
9        Hoodie              1              10

### Create a category type dictionary:

In [40]:
dict_cat_type = {1:"Upper", 2:'Lower', 3: 'Full'}

In [41]:
 df_tmp_cloth_cat = df_tmp_cloth_cat.replace({'category_type': dict_cat_type})

In [42]:
df_tmp_cloth_cat.head(10)

  category_name category_type  category_label
0        Anorak         Upper               1
1        Blazer         Upper               2
2        Blouse         Upper               3
3        Bomber         Upper               4
4   Button-Down         Upper               5
5      Cardigan         Upper               6
6       Flannel         Upper               7
7        Halter         Upper               8
8        Henley         Upper               9
9        Hoodie         Upper              10

### Create a category by prefixing category type into category name:

In [43]:
df_tmp_cloth_cat['category'] = df_tmp_cloth_cat['category_type']+ ':'+ df_tmp_cloth_cat['category_name']

In [44]:
df_tmp_cloth_cat.head(10)

  category_name category_type  category_label           category
0        Anorak         Upper               1       Upper:Anorak
1        Blazer         Upper               2       Upper:Blazer
2        Blouse         Upper               3       Upper:Blouse
3        Bomber         Upper               4       Upper:Bomber
4   Button-Down         Upper               5  Upper:Button-Down
5      Cardigan         Upper               6     Upper:Cardigan
6       Flannel         Upper               7      Upper:Flannel
7        Halter         Upper               8       Upper:Halter
8        Henley         Upper               9       Upper:Henley
9        Hoodie         Upper              10       Upper:Hoodie

### SAVE PROCESSED CATEGORIES

In [88]:
FINAL_FSHN_CTG = os.path.join(PROCESSED_DATA_PATH, 'fashion-categories.csv')
df_tmp_cloth_cat.to_csv(FINAL_FSHN_CTG, index=False)

### CREATE MAP OF CATEGORY LABEL to CATEGORY NAME

In [46]:
categories = df_tmp_cloth_cat['category'].tolist()
cat_lbl = df_tmp_cloth_cat['category_label'].tolist()

In [47]:
print(f'Categories:\n{categories}')
print()
print(f'Category labels:\n{cat_lbl}')

Categories:
['Upper:Anorak', 'Upper:Blazer', 'Upper:Blouse', 'Upper:Bomber', 'Upper:Button-Down', 'Upper:Cardigan', 'Upper:Flannel', 'Upper:Halter', 'Upper:Henley', 'Upper:Hoodie', 'Upper:Jacket', 'Upper:Jersey', 'Upper:Parka', 'Upper:Peacoat', 'Upper:Poncho', 'Upper:Sweater', 'Upper:Tank', 'Upper:Tee', 'Upper:Top', 'Upper:Turtleneck', 'Lower:Capris', 'Lower:Chinos', 'Lower:Culottes', 'Lower:Cutoffs', 'Lower:Gauchos', 'Lower:Jeans', 'Lower:Jeggings', 'Lower:Jodhpurs', 'Lower:Joggers', 'Lower:Leggings', 'Lower:Sarong', 'Lower:Shorts', 'Lower:Skirt', 'Lower:Sweatpants', 'Lower:Sweatshorts', 'Lower:Trunks', 'Full:Caftan', 'Full:Cape', 'Full:Coat', 'Full:Coverup', 'Full:Dress', 'Full:Jumpsuit', 'Full:Kaftan', 'Full:Kimono', 'Full:Nightdress', 'Full:Onesie', 'Full:Robe', 'Full:Romper', 'Full:Shirtdress', 'Full:Sundress']

Category labels:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [48]:
dict_categories = di = dict(zip(cat_lbl, categories))
print(dict_categories)

{1: 'Upper:Anorak', 2: 'Upper:Blazer', 3: 'Upper:Blouse', 4: 'Upper:Bomber', 5: 'Upper:Button-Down', 6: 'Upper:Cardigan', 7: 'Upper:Flannel', 8: 'Upper:Halter', 9: 'Upper:Henley', 10: 'Upper:Hoodie', 11: 'Upper:Jacket', 12: 'Upper:Jersey', 13: 'Upper:Parka', 14: 'Upper:Peacoat', 15: 'Upper:Poncho', 16: 'Upper:Sweater', 17: 'Upper:Tank', 18: 'Upper:Tee', 19: 'Upper:Top', 20: 'Upper:Turtleneck', 21: 'Lower:Capris', 22: 'Lower:Chinos', 23: 'Lower:Culottes', 24: 'Lower:Cutoffs', 25: 'Lower:Gauchos', 26: 'Lower:Jeans', 27: 'Lower:Jeggings', 28: 'Lower:Jodhpurs', 29: 'Lower:Joggers', 30: 'Lower:Leggings', 31: 'Lower:Sarong', 32: 'Lower:Shorts', 33: 'Lower:Skirt', 34: 'Lower:Sweatpants', 35: 'Lower:Sweatshorts', 36: 'Lower:Trunks', 37: 'Full:Caftan', 38: 'Full:Cape', 39: 'Full:Coat', 40: 'Full:Coverup', 41: 'Full:Dress', 42: 'Full:Jumpsuit', 43: 'Full:Kaftan', 44: 'Full:Kimono', 45: 'Full:Nightdress', 46: 'Full:Onesie', 47: 'Full:Robe', 48: 'Full:Romper', 49: 'Full:Shirtdress', 50: 'Full:Sundress'}

In [67]:
df_temp = df_augmented_2.copy()
df_fshn_ds = df_temp.replace({'category_label': dict_categories })
df_fshn_ds.head()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
0,img/1981_Graphic_Ringer_Tee/img_00000001.jpg,40,63,167,246,Upper:Tee,test
1,img/1981_Graphic_Ringer_Tee/img_00000002.jpg,51,76,140,183,Upper:Tee,val
2,img/1981_Graphic_Ringer_Tee/img_00000003.jpg,25,68,147,200,Upper:Tee,train
3,img/1981_Graphic_Ringer_Tee/img_00000004.jpg,47,91,185,285,Upper:Tee,test
4,img/1981_Graphic_Ringer_Tee/img_00000005.jpg,84,67,218,252,Upper:Tee,train

In [68]:
df_fshn_ds.tail()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
289217,img/Zippered_Woven_Joggers/img_00000030.jpg,91,91,129,274,Lower:Joggers,train
289218,img/Zippered_Woven_Joggers/img_00000031.jpg,167,3,256,258,Lower:Joggers,train
289219,img/Zippered_Woven_Joggers/img_00000032.jpg,73,8,189,247,Lower:Joggers,train
289220,img/Zippered_Woven_Joggers/img_00000033.jpg,46,92,173,263,Lower:Joggers,train
289221,img/Zippered_Woven_Joggers/img_00000034.jpg,117,12,215,257,Lower:Joggers,train

In [69]:
df_fshn_ds.shape

(289222, 7)

### Choosing only 12 Categories

In [70]:
category_label = ['Upper:Blouse', 'Upper:Hoodie', 'Upper:Jacket', 'Upper:Jersey', 'Upper:Tee', 'Lower:Chinos','Lower:Jeans', 'Lower:Shorts', 'Lower:Skirt', 'Lower:Sweatpants', 'Full:Dress', 'Full:Robe']
print(category_label)

['Upper:Blouse', 'Upper:Hoodie', 'Upper:Jacket', 'Upper:Jersey', 'Upper:Tee', 'Lower:Chinos', 'Lower:Jeans', 'Lower:Shorts', 'Lower:Skirt', 'Lower:Sweatpants', 'Full:Dress', 'Full:Robe']

In [128]:
df_fshn_ds = df_fshn_ds[df_fshn_ds.category_label.isin(category_label)] #We are accesing this category label throught the object of the dataframe to use a function on it
df_fshn_ds.head()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
0,img/1981_Graphic_Ringer_Tee/img_00000001.jpg,40,63,167,246,Upper:Tee,test
1,img/1981_Graphic_Ringer_Tee/img_00000002.jpg,51,76,140,183,Upper:Tee,val
2,img/1981_Graphic_Ringer_Tee/img_00000003.jpg,25,68,147,200,Upper:Tee,train
3,img/1981_Graphic_Ringer_Tee/img_00000004.jpg,47,91,185,285,Upper:Tee,test
4,img/1981_Graphic_Ringer_Tee/img_00000005.jpg,84,67,218,252,Upper:Tee,train

In [78]:
df_fshn_ds.tail(10)

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
289100,img/Zippered_Sweatpants/img_00000048.jpg,1,21,172,244,Lower:Sweatpants,test
289101,img/Zippered_Sweatpants/img_00000049.jpg,170,22,297,268,Lower:Sweatpants,train
289102,img/Zippered_Sweatpants/img_00000050.jpg,1,24,300,225,Lower:Sweatpants,val
289103,img/Zippered_Sweatpants/img_00000051.jpg,69,1,129,300,Lower:Sweatpants,train
289104,img/Zippered_Sweatpants/img_00000052.jpg,1,8,50,86,Lower:Sweatpants,train
289105,img/Zippered_Sweatpants/img_00000053.jpg,1,1,300,225,Lower:Sweatpants,test
289106,img/Zippered_Sweatpants/img_00000054.jpg,76,1,201,290,Lower:Sweatpants,train
289107,img/Zippered_Sweatpants/img_00000055.jpg,1,25,258,300,Lower:Sweatpants,val
289108,img/Zippered_Sweatpants/img_00000056.jpg,38,1,280,300,Lower:Sweatpants,train
289109,img/Zippered_Sweatpants/img_00000057.jpg,25,1,162,294,Lower:Sweatpants,train

### INSPECT THE SHAPE

In [77]:
df_fshn_ds.shape

(194105, 7)

In [79]:
 df_fshn_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194105 entries, 0 to 289109
Data columns (total 7 columns):
image_name           194105 non-null object
x_1                  194105 non-null int64
y_1                  194105 non-null int64
x_2                  194105 non-null int64
y_2                  194105 non-null int64
category_label       194105 non-null object
evaluation_status    194105 non-null object
dtypes: int64(4), object(3)
memory usage: 11.8+ MB

### Save the processed data for later usage:

In [130]:
FINAL_FSHN_DS = os.path.join(PROCESSED_DATA_PATH, 'fashion-ds.csv')
df_fshn_ds.to_csv(FINAL_FSHN_DS, index=False)

### GENERATE TRAINING DATA SET

In [137]:
 df_fshn_bbx_ctg_evl_sts = df_fshn_ds.copy()
df_fshn_bbx_ctg_evl_sts['image_name'] = df_fshn_bbx_ctg_evl_sts['image_name'].apply(lambda p: DATASET+'/'+p)
 df_fshn_bbx_ctg_evl_sts.head()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
0,D:\Capstone Project - Category and Attribution...,40,63,167,246,Upper:Tee,test
1,D:\Capstone Project - Category and Attribution...,51,76,140,183,Upper:Tee,val
2,D:\Capstone Project - Category and Attribution...,25,68,147,200,Upper:Tee,train
3,D:\Capstone Project - Category and Attribution...,47,91,185,285,Upper:Tee,test
4,D:\Capstone Project - Category and Attribution...,84,67,218,252,Upper:Tee,train

In [92]:
 print(df_fshn_bbx_ctg_evl_sts.loc[0,'image_name'])
print(df_fshn_bbx_ctg_evl_sts.loc[1,'image_name'])

D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset/img/1981_Graphic_Ringer_Tee/img_00000001.jpg
D:\Capstone Project - Category and Attribution prediction benchmark\Trial - Building the model\dataset/img/1981_Graphic_Ringer_Tee/img_00000002.jpg

In [93]:
df_train_set = df_fshn_bbx_ctg_evl_sts[df_fshn_bbx_ctg_evl_sts['evaluation_status'] != 'test']

In [94]:
df_train_set.head()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
1,D:\Capstone Project - Category and Attribution...,51,76,140,183,Upper:Tee,val
2,D:\Capstone Project - Category and Attribution...,25,68,147,200,Upper:Tee,train
4,D:\Capstone Project - Category and Attribution...,84,67,218,252,Upper:Tee,train
5,D:\Capstone Project - Category and Attribution...,31,53,146,199,Upper:Tee,train
6,D:\Capstone Project - Category and Attribution...,51,62,175,227,Upper:Tee,train

In [96]:
df_train_set.tail()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
289104,D:\Capstone Project - Category and Attribution...,1,8,50,86,Lower:Sweatpants,train
289106,D:\Capstone Project - Category and Attribution...,76,1,201,290,Lower:Sweatpants,train
289107,D:\Capstone Project - Category and Attribution...,1,25,258,300,Lower:Sweatpants,val
289108,D:\Capstone Project - Category and Attribution...,38,1,280,300,Lower:Sweatpants,train
289109,D:\Capstone Project - Category and Attribution...,25,1,162,294,Lower:Sweatpants,train

In [97]:
df_train_set.drop(columns=['evaluation_status'], inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [98]:
df_train_set.head()

,image_name,x_1,y_1,x_2,y_2,category_label
1,D:\Capstone Project - Category and Attribution...,51,76,140,183,Upper:Tee
2,D:\Capstone Project - Category and Attribution...,25,68,147,200,Upper:Tee
4,D:\Capstone Project - Category and Attribution...,84,67,218,252,Upper:Tee
5,D:\Capstone Project - Category and Attribution...,31,53,146,199,Upper:Tee
6,D:\Capstone Project - Category and Attribution...,51,62,175,227,Upper:Tee

In [99]:
df_train_set.shape

(167290, 6)

In [100]:
df_train_set.to_csv(os.path.join(PROCESSED_DATA_PATH, 'fshn-trng-set.txt'), sep=' ', header=False, index=False)

 ### GENERATE TEST DATA SET

In [119]:
df_test_set = df_fshn_bbx_ctg_evl_sts[df_fshn_bbx_ctg_evl_sts['evaluation_status'] == 'test']

In [116]:
df_test_set.head()

,image_name,x_1,y_1,x_2,y_2,category_label,evaluation_status
0,D:\Capstone Project - Category and Attribution...,40,63,167,246,Upper:Tee,test
3,D:\Capstone Project - Category and Attribution...,47,91,185,285,Upper:Tee,test
13,D:\Capstone Project - Category and Attribution...,11,72,186,243,Upper:Tee,test
14,D:\Capstone Project - Category and Attribution...,35,79,185,239,Upper:Tee,test
114,D:\Capstone Project - Category and Attribution...,25,47,150,275,Full:Dress,test

In [138]:
 df_test_set = df_test_set[['image_name']]

In [124]:
 df_test_set.head()

                                            image_name
0    D:\Capstone Project - Category and Attribution...
3    D:\Capstone Project - Category and Attribution...
13   D:\Capstone Project - Category and Attribution...
14   D:\Capstone Project - Category and Attribution...
114  D:\Capstone Project - Category and Attribution...

In [139]:
 df_test_set.shape

(26815, 1)

In [140]:
 df_test_set.to_csv(os.path.join(PROCESSED_DATA_PATH, 'fshn-test-set.txt'), sep=' ', header=False, index=False)